body {
    margin: 0;
    padding: 0;
    background: rgb(27, 27, 27);
    color: rgb(218, 218, 218);
    font-family: Arial, Helvetica, sans-serif;
    size: 16px;
}

.header {
    margin: 0;
    padding: 1em;
    background: black;
    color: white;
}

.nav {
    display: flex;
    width: 100%;
}

.nav-elem {
    display: inline-flex;
    flex: auto;
    margin: 1em 0;
    padding: 1em;
    background: rgb(62, 61, 71);
    border: 1px solid rgb(39, 39, 46);
    color: rgb(217, 217, 248);
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.nav-icon {
    max-width: 10em;
    max-height: 10em;
    margin: 0 1em;
}